.welcome {
    text-align: center;
    font-weight: bold;
}

.myheading {
    border-bottom: double gold 5px;
}

a:hover {
    text-decoration: underline;    
}

.pageAnchor{
    color: white;
    font-weight: bold;
}

.intextLink {
    color: blue;
    text-decoration: none;
}

.stdlist{
    font-style: italic;
    font-size: 18px;
}

.nmblist{
    font-size: 24px;
}

.header{
    text-align: center;
    font-size: 30px;
}

.attention{
    font-style: normal;
    font-weight: bold;
}

.stdimage{
    height: 100px;
    width: auto;
}